<!DOCTYPE html>
<html lang="en">

<%- include('./partials/_head') %>
  <%- include('nav') %>

    <body>
      <div class="d-flex flex-wrap container m-3">
        <% for (let post of posts) { %>
          <%- include('./partials/_post', {post: post}) %>
          <% } %>
      </div>
    </body>
    <%- include('./partials/_footer') %>
</html>
