<!DOCTYPE html>
<html lang="en">
<head>
  <title>La#ice Resource Board</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/topics.css" />
</head>
<body>
  <%- include('partials/nav') %> <!-- Include the navigation partial -->

  <main>
    <div class="grid-container">
      <% posts.forEach(post => { %>
        <div class="grid-item">
          <h3><%= post.title %></h3>
          <p><%= post.description %></p>
          <!-- Other details about the post -->
        </div>
      <% }) %>
    </div>
  </main>
  
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</body>
</html>
