<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">LA#ICE</span>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="/topics" class="nav-link">Topics</a>
        </li>
        <form class="d-flex" method="GET" action="/search">
          <input class="form-control me-2" type="text" name="search" placeholder="Search" style="width: 480px;" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <li class="nav-item">
          <a href="/users/new" class="nav-link">Create</a>
        </li>

        <% if(email) { %>
          <li class="nav-item">
            <a class="navbar-brand" href="#">
              <img src="../images/user<%=userId%>.png" alt="userImage" width="60" height="48">
            </a>
          </li>
          <li class="nav-item">
            <a href="/users/<%= userId %>" class="nav-link">
              <%=username%>
            </a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a href="/login" class="nav-link">Login</a>
            </li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>
