<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head') %>
<%- include('nav') %>


</head>

<body>
  <div class="d-flex flex-wrap container">
    <% topicsWithPosts.forEach(topicWithPosts => { %>
      <!-- Display the topic name -->
      <div class="topic-card card box-shadow d-flex flex-column cursor-pointer p-3 hover-effect" data-topic-name="<%= topicWithPosts.topic_name %>">
        <h2><%= topicWithPosts.topic_name %></h2>  
      </div> 
    <% }); %>
  </div>
  <!-- JavaScript to handle click event -->
  <script>
    document.querySelectorAll('.topic-card').forEach(div => {
      div.addEventListener('click', function() {
        window.location.href = `/search?search=${encodeURIComponent(this.dataset.topicName)}`;
      });
    });
  </script>
</body>
</html>
