$color1: #94A8A5;
$color2: #FCFBE3;
$color3: #446360;
$color4: #868C07;

body {
  background-color: $color4 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


.card {
  background-color: $color1;
  width: 300px;
}

.post-container {
  font-family: 'Times New Roman', Times, serif;
  background-color: $color3;
  color: $color2;
  width: 80%;
  margin-left: 10%;
  margin-right: 25%;
}

.post-comments {
  background-color: $color1;
  max-width: 50%;
  border-radius: 0 25px 25px 0
}

.post-comments .card, .post-comments form {
background-color: $color1;  
  width: 100%;
}

.like-heart {
  font-size: 20px;
}

.rating-stars {
  font-size: 20px;
}

.back-library {
  color: red;
  display: flex;
  margin-left: 10px;
  left: 0;
  cursor: pointer;
}

.back-library .library-button {
  border-radius: 50%;
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.back-library h3 {
  margin-left: 5px;
}


.topic-card .card:hover {
  background-color: #868C07; /* Light grey background on hover */
  border-color: #dee2e6; /* Light grey border on hover */
  text-decoration: none;
}

.topic-card a {
  background-color: $color1;
  color: $color4;
  text-decoration: none;
}

.no-resize {
  resize: none;
}

.postRatings{
  display: flex;
  flex-direction: row-reverse;
}
.postRatings span{
  cursor: pointer;
  transition: color .2s;
  font-size: 20px;
}
.postRatings span:hover{
  color: $color3;
}
.postRatings span:hover ~ span{
  color: Yellow;
}
.postRatings span[data-clicked]{
  color: Yellow;
}
.postRatings span[data-clicked] ~ span{
  color: Yellow;
}

.postRatings span.rated {
  color: Yellow;
}
