/* main.css */
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #6B7F7B;
}

main {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  flex-grow: 1; /* Already set to take available space */
  width: calc(80% - 20px); /* Example: Adjust the width */
  /* Other styles */
}
.user-list, .post-list {
  color: #b1cc11;
  background-color: #778260;
  width: 15%; /* Standard width */
  padding: 10px;
}

.user-list-ul, .post-list-ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-align: right;
}

.user-list-ul li, .post-list-ul li {
  margin-bottom: 10px;
}

.users-heading, .posts-heading {
  text-align: right;
  margin-right: 10px;
}




/* Styles for the login prompt */

.login-prompt {
  background-color: #778260; /* You can adjust the color to match your nav bar */
  padding: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 10px;
}

.login-prompt h3 {
  margin-top: 0;
  color: #333;
}

.login-prompt form {
  display: flex;
  flex-direction: column;
}

.login-prompt input[type="password"] {
  padding: 8px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.login-prompt button {
  background-color: #778260;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.login-prompt button:hover {
  background-color: #6B7F7B;
}





/* Responsive adjustments */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .grid-container, .user-list {
    width: 100%;
    margin-right: 15px;
  }
}
