/* main.css */
body {
  font-family: 'Times New Roman', Times, serif;
}

main {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  flex-grow: 1; /* Already set to take available space */
  width: calc(80% - 20px); /* Example: Adjust the width */
  /* Other styles */
}


.users-heading {
  text-align: right; /* Align the heading to the right */
  margin-right: 10px; /* Adjust as necessary for spacing */
  /* Additional styles as needed */
}

.user-list {
  width: 15%; /* Fixed width for the user list */
  padding: 10px;
  /* Additional styling as needed */
}

.user-list-ul {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0; /* Removes default padding */
  margin-left: 0; /* Removes default margin */
  text-align: right; /* Align text to the right if needed */
}

.user-list-ul li {
  margin-bottom: 10px; /* Space between items */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .grid-container, .user-list {
    width: 100%;
    margin-right: 15px;
  }
}
