.navigation {
  background: #f8f9fa;
  border-bottom: 1px solid #e7e7e7;
  padding: 0.5rem 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a {
  font-size: 48px;
  font-weight: normal;
  color: #333;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  background: none;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.nav-button:hover {
  text-decoration: underline;
}

.nav-search-form {
  border-radius: 45px;
  display: flex;
  align-items: center;
}

.nav-search-input {
  border-radius: 45px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  width: 300px;
}

.nav-search-button {
  font-family: 'Times New Roman', Times, serif;
  padding: 0.5rem 1rem;
}

.nav-user-img {
  height: 40px;
  border-radius: 50%;
}