.navigation {
  background: #f8f9fa;
  border-bottom: 1px solid #e7e7e7;
  padding: 0.5rem 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a {
  background-color: #b2b28e;
  padding: 10px;
  font-size: 48px;
  font-weight: normal;
  color: #333;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-button {
  padding: 0.5rem;
  margin: 0 0.5rem;
  background: none;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.nav-button:hover {
  text-decoration: underline;
}

.nav-search-form {
  border-radius: 45px;
  display: flex;
  align-items: center;
}

.nav-search-input {
  border-radius: 45px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  width: 300px;
}

.nav-user-form {
  border-radius: 45px;
  display: flex;
  align-items: left;
}

.nav-user-input {
  border-radius: 45px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  width: 200px;
}

.nav-search-button {
  font-family: 'Times New Roman', Times, serif;
  padding: 0.5rem 1rem;
}

.nav-user {
  display: flex;
  align-items: center;
  /* Additional styles as necessary */
}

.nav-username {
  margin-right: 10px; /* Adjust the margin as needed */
  /* Add other styles if you want to change the font size, color, etc. */
}
.nav-user-img {
  height: 40px;
  border-radius: 50%;
}
/* Existing styles */

/* Media query for screens at or below 1060px */
@media (max-width: 1060px) {
  .nav-container {
    flex-wrap: wrap;
  }

  .brand {
    flex-basis: 100%; 
    order: 1; /* Keep 'brand' on top */
  }

  .nav-search-form, 
  .nav-user-form {
    order: 2; 
    width:auto; 
    flex-grow: 1;
  }

  .nav-links {
    width: 100%;
    justify-content: center; 
    order: 4; 
  }

  .nav-user {
    flex-direction: column;
    align-items: center; /* Align items vertically */
    width: 100px; 
    margin: 0 auto;
    order: 3;

  }

  .nav-user-img {
    margin-right: 10px; /* Add space between image and username */
  }

  .nav-button {
    margin: 5px 0; 
  }
}


/* Media query for adjusting layout at 1180px and below */
@media (max-width: 420px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-button {
    width: 100%;
    margin: 5px 0;
  }

  .nav-search-form,
  .nav-user {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  .nav-search-input {
    width: auto;
    flex-grow: 1;
  }
}