


.topic {
font-size: 24px;
margin-bottom: 40px; /* Updated margin-bottom */
}

.grid-container {
display: grid;
grid-template-columns: repeat(3, 1fr); /* Updated minmax value */
grid-gap: 20px;
padding: 20px;
}

.grid-item {
background-color: #FCFBE3; /* Slightly lighter shade of grey */
border-radius: 40px;
padding: 20px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* New box shadow */
margin-bottom: 20px;
/* Add any other styles you wish to apply to grid items */
}

.grid-item-post {
background-color: #fff;
border: 1px solid #ddd; /* Border for each post */
margin-bottom: 10px; /* Spacing between posts */
padding: 10px;
border-radius: 30px; /* Slightly rounded corners for posts */
/* Add more styling for posts if needed */

}

@media (max-width: 1024px) {
.grid-container {
grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
}
}

@media (max-width: 768px) {
.grid-container {
grid-template-columns: 1fr; /* 1 column on very small screens */
}
}